/* nav bar styling */

nav {
    background-color: #4056A1;
    height: 120px;
    font-family: 'Bungee';
    color: white;  
    padding-top: 1.5em;
    z-index: 1000;
    position: relative; 
}

nav span {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* display logo and arrows */
.container {
    font-size: 40px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    justify-content: space-between;
}

/* enable seeing the navbar while scrolling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;

}

body { 
    padding-top: 90px; 
}