/* styling for each tweet  */

.tweet-container {
    border: 4px solid #4056A1;
    border-style: solid;
    position: relative;
    width: 100%;
    height: 300px;
    padding-top: 1em;
    margin-top: 50px;
    padding-bottom: 2em;
    margin-bottom: 50px;
}

.tweet-container h4 {
    display: flex;
    align-items: flex-start;
    padding-left: 1rem;
    font-size: 30px;
    position: relative;
    top: -1em;
    margin: 0;
}

.tweet-container p {
    font-size: 25px;
    padding-left: 1.3em;
}

.outer-border {
    background-color: #f4f1ec;
    margin: 20px;
    padding: 10px 10px 0px 10px;
}

.inner-border {
    border-bottom: 4px solid #4056A1;
    height: 0.1em;
    width: 96%;
    margin: auto;
}

.tweet-container h5 {
    display: flex;
    padding-right: 1rem;
    font-size: 30px;
    position: relative;
    top: -1em;
    margin: 0;
    float: right;
    opacity: 60%;
}

.tweet-container i {
    float: right;
    font-size: 0.6em;
    padding-top: 0.7em;
    padding-right: 1rem
}

.tweet-container i:hover {
    color:rgb(231, 163, 197);
}

article.tweet-container:hover {
    border-color: #aebef2;
    box-shadow: 10px 10px #bfbfc0;
}


.timeago {
    font-size: 0.4em;
    padding-left: 2em;
}
